{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('pin') }}
{% endblock %}
{% block title %}Pin{% endblock %}

{% block content %}
<h1>{{ pin.title }}</h1>
<div class="border w-[250px] p-5 rounded-xl">
        <p>Descripcion</p>
        <p>{{ pin.description|raw }}</p>
        </div>
        <div class="flex flex-row gap-2">
            {% for img in pin.images %}
                <img src="{{ asset('uploads/pins/' ~ img.filename) }}" style="max-width:150px; margin:5px;">
            {% endfor %}
</div> 
{% endblock %}
