<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}PicPin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="sidebar">
        <header class="flex justify-center">
            {% block header %}
                <a href="{{ path('homepage') }}">
                    <img class="logo" src="{{ asset('images/logo-picaround.svg') }}" alt="logo">
                </a>
            {% endblock %}
        </header>
        {% block sidebar %}
        <div class="text-center flex flex-col justify-center gap-5 mt-5">
            <a class="btn-dashboard {% if app.request.attributes.get('_route') == 'mapa' %}active{% endif %}" href="{{ path('mapa') }}" data-turbo-frame="main">Mapa</a>
            <a class="btn-dashboard {% if app.request.attributes.get('_route') == 'pin' %}active{% endif %}" href="{{ path('pin') }}" data-turbo-frame="main">Pins</a>
            <a class="btn-dashboard" href="" data-turbo-frame="main">Categorías</a>
            <a class="btn-dashboard" href="" data-turbo-frame="main">Imagenes</a>
            <a class="btn-dashboard {% if app.request.attributes.get('_route') == 'perfil' %}active{% endif %}" href="{{ path('perfil') }}" data-turbo-frame="main">Usuario</a>
        </div>
        {% endblock %}
    </div>

    <div class="main-content">
        <main>
            {% block content %}
            {# Aquí se cargará el contenido de cada sección #}
            {% endblock %}
        </main>
    </div>
        {# Scripts al final del body #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
